.aboutus-hero {
  position: relative;
  min-height: 100vh;
  overflow-y: auto;
  background: url("/assets/AboutUs/hero.JPG") center/cover no-repeat;
  display: flex;
  align-items: left;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  animation: fadeUp 1s ease forwards;
}

.aboutus-section {
  padding: 100px 40px;
  background-color: var(--light-bg);
  color: var(--dark-text);
  line-height: 1.8;
}

.aboutus-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* gap: 50px; */
}

.aboutus-wrapper h1 {
  font-size: 3.5rem;
  color: var(--crimson-red);
}

.aboutus-wrapper p {
  font-size: 1.2rem;
  color: var(--muted-text);
  line-height: 1.6;
  margin-bottom: 50px;
}

.aboutus-desc p {
  font-size: 1.5rem;
  width: 100%;
  text-align: justify;
  text-indent: 50px;
  color: var(--dark-text);
}

/* Container */
.simple-carousel {
  position: relative;
  width: 100%;
  max-width: 900px;
  margin: 30px auto;
}

/* Swiper wrapper */
.simple-swiper {
  width: 100%;
  padding-bottom: 40px; /* leaves space for dots */
}

/* Slide image */
.simple-img {
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 16px;
  object-fit: cover;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover effect */
.simple-img:hover {
  transform: scale(1.02);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

/* Swiper navigation arrows */
.simple-swiper {
  --swiper-navigation-size: 2rem;
  --swiper-navigation-color: #1f2937; /* dark gray arrows */
}

/* Swiper pagination dots */
.simple-swiper {
  --swiper-pagination-color: var(--crimson-red); /* active */
  --swiper-pagination-bullet-inactive-color: #d1d5db;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-size: 10px;
  --swiper-pagination-bullet-horizontal-gap: 6px;
}


@media (max-width: 800px) {
  .aboutus-section {
    padding: 50px 20px;
  }

  .aboutus-wrapper h1 {
    font-size: 2.2rem;
    text-align: center;
  }

  .aboutus-wrapper p {
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 30px;
  }
  .aboutus-desc p {
    padding: 0;
    font-size: 1rem;
    line-height: 1.6;
    text-align: justify;
    text-indent: 50px;
  }

  .carousel-btn {
    font-size: 1.5rem;
  }

  .carousel img {
    aspect-ratio: auto;
    border-radius: 12px;
  }

  .img-1 {
    width: 100%;
    max-width: 100%;
    margin: 20px 0;
    border-radius: 12px;
    max-height: none;
    aspect-ratio: 16 / 9;
    object-fit: contain;
  }
}
