.mission-hero {
  position: relative;
  min-height: 100vh;
  overflow-y: auto;
  background: url("/assets/Mission/hero.JPG") center/cover no-repeat;
  display: flex;
  align-items: left;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
    animation: fadeUp 1s ease forwards;

}

.approach-section {
  padding: 100px 40px;
  background-color: var(--light-bg);
  color: var(--dark-text);
  border-bottom: 1px solid gainsboro;
}

.approach-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  text-align: left;
}

.approach-wrapper h1 {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 10px;
  color: var(--crimson-red);
}

.approach-wrapper p {
  font-size: 1.2rem;
  color: var(--muted-text);
  margin-bottom: 50px;
  line-height: 1.6;
}

.approach-block {
  margin-bottom: 40px;
}

.approach-block h2 {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--dark-text);
}

.approach-block p {
  font-size: 1.05rem;
  color: var(--muted-text);
  line-height: 1.8;
}

.value-section {
  padding: 100px 40px;
  background-color: var(--light-bg);
  color: var(--dark-text);
}

.value-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  text-align: left;
}

.value-wrapper h1 {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 10px;
  color: var(--crimson-red);
}

.value-wrapper p {
  font-size: 1.2rem;
  color: var(--muted-text);
  margin-bottom: 50px;
}

.core-block {
  margin-bottom: 40px;
}

.core-block h2 {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--dark-text);
}

.core-block p {
  font-size: 1.05rem;
  color: var(--muted-text);
  line-height: 1.8;
}

/* Responsive */
@media (max-width: 800px) {
  /* Approach section */
  .approach-section {
    padding: 50px 20px;
  }

  .approach-wrapper h1 {
    font-size: 2.2rem;
    text-align: center;
  }

  .approach-wrapper p {
    font-size: 1rem;
    line-height: 1.5;
    text-align: justify;
    margin-bottom: 30px;
  }

  .approach-block {
    margin-bottom: 30px;
  }

  .approach-block h2 {
    font-size: 1.3rem;
    text-align: center;
  }

  .approach-block p {
    font-size: 0.95rem;
    line-height: 1.6;
    text-align: justify;
  }

  /* Value section */
  .value-section {
    padding: 50px 20px;
  }

  .value-wrapper h1 {
    font-size: 2.2rem;
    text-align: center;
  }

  .value-wrapper p {
    font-size: 1rem;
    margin-bottom: 30px;
    text-align: justify;
  }

  .core-block {
    margin-bottom: 30px;
  }

  .core-block h2 {
    font-size: 1.3rem;
    text-align: center;
  }

  .core-block p {
    font-size: 0.95rem;
    line-height: 1.6;
    text-align: justify;
  }
}


