.hear-hero {
  position: relative;
  min-height: 100vh;
  overflow-y: auto;
  /* background: url("/assets/Home/modelx.JPG") center/cover no-repeat; */
  display: flex;
  align-items: left;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  animation: fadeUp 1s ease forwards;
}

.hear-section {
  padding: 100px 40px;
  background-color: var(--light-bg);
  color: var(--dark-text);
  border-bottom: 1px solid gainsboro;
}

.hear-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  text-align: left;
}

.hear-wrapper h1 {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 10px;
  color: var(--crimson-red);
}

.hear-wrapper p {
  font-size: 1.2rem;
  color: var(--muted-text);
  margin-bottom: 50px;
  line-height: 1.6;
}

