* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light-bg: #f9fafb;
  --card-bg: #ffffff;
  --alt-card-bg: #f3f4f6;
  --dark-text: #1a1a1a;
  --muted-text: #555555;
  --lighter-text: #ccc;
  --crimson-red: #b30000;
  --deep-red: #7c0a02;
}

body {
  font-family: "RTX-font", Helvetica, Arial, sans-serif;
  background-color: #111;
  color: white;
  overscroll-behavior: contain;
}

/*Global design for each pages Hero*/
.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.hero-text {
  position: relative;
  z-index: 2;
  padding: 50px;
  font-size: 3rem;
  color: var(--light-bg);
  animation: fadeUp 1s ease forwards;
  opacity: 0;
}

.hero-text p {
  font-size: 1.5rem;
}

/* Global Back Button*/
.back-button {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--muted-text);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s ease;
}

.back-button:hover {
  color: var(--crimson-red);
}

/*ANIMATIONS*/
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Mobile Version*/
@media (max-width: 800px) {
  .hero-text {
    padding: 20px;
    font-size: 2rem;
    text-align: center; 
  }

  .hero-text p {
    font-size: 1rem; 
    line-height: 1.4;
  }

  .overlay {
    background-color: rgba(0, 0, 0, 0.7); 
  }

  body {
    font-size: 14px; 
  }
}



