.mission-hero {
  position: relative;
  min-height: 100vh;
  overflow-y: auto;
  /* background: url("/assets/ProductApp/hero-img.JPG") center/cover no-repeat; */
  display: flex;
  align-items: left;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
}

.approach-section {
  padding: 100px 40px;
  background-color: var(--light-bg);
  color: var(--dark-text);
  border-bottom: 1px solid gainsboro;
}

.approach-section .approach-wrapper {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.approach-section.reveal .approach-wrapper {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.value-section .value-wrapper {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.value-section.reveal .value-wrapper {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.approach-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  text-align: left;
}

.approach-wrapper h1 {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 10px;
  color: var(--crimson-red);
}

.approach-wrapper p {
  font-size: 1.2rem;
  color: var(--muted-text);
  margin-bottom: 50px;
  line-height: 1.6;
}

.approach-block {
  margin-bottom: 40px;
}

.approach-block h2 {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--dark-text);
}

.approach-block p {
  font-size: 1.05rem;
  color: var(--muted-text);
  line-height: 1.8;
}

.value-section {
  padding: 100px 40px;
  background-color: var(--light-bg);
  color: var(--dark-text);
}

.value-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  text-align: left;
}

.value-wrapper h1 {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 10px;
  color: var(--crimson-red);
}

.value-wrapper p {
  font-size: 1.2rem;
  color: var(--muted-text);
  margin-bottom: 50px;
}

.core-block {
  margin-bottom: 40px;
}

.core-block h2 {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--dark-text);
}

.core-block p {
  font-size: 1.05rem;
  color: var(--muted-text);
  line-height: 1.8;
}

@keyframes glow {
  from {
    border-color: rgba(255, 255, 255, 0.6);
  }
  to {
    border-color: rgba(255, 0, 0, 0.8);
  }
}

@keyframes fadeSlideUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeSlideUpCard {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
