.process-cap-hero {
  position: relative;
  min-height: 100vh;
  overflow-y: auto;
  background: url("/assets/ProcessCap/cover3.JPG") center/cover no-repeat;
  display: flex;
  align-items: left;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  animation: fadeUp 1s ease forwards;
}

.process-cap-section {
  background-color: var(--light-bg);
}

.process-cap-wrapper {
  padding: 100px 40px;
  background-color: var(--light-bg);
  color: var(--dark-text);
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.process-cap-wrapper h1 {
  font-size: 3.5rem;
  color: var(--crimson-red);
  margin-bottom: 10px;
}

.process-cap-wrapper p {
  font-size: 1.2rem;
  color: var(--muted-text);
  /* margin-bottom: 50px; */
  line-height: 1.6;
}

.process-cap-inner-slide {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 80px;
  box-sizing: border-box;
  color: var(--dark-text);
  background-color: var(--card-bg);
  border-radius: 20px;
  margin: 30px auto;
  width: 90%;
  max-width: 1400px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
}

.process-cap-slide-content {
  display: flex;
  flex-direction: row;
  gap: 60px;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.process-cap-text-section {
  flex: 1;
}

.process-cap-slide-number {
  font-weight: bold;
  font-size: 42px;
  color: var(--crimson-red);
  margin-bottom: 10px;
}

.process-cap-slide-title {
  font-size: 42px;
  margin-bottom: 20px;
  font-weight: 600;
  color: var(--dark-text);
}

.process-cap-slide-description {
  font-size: 18px;
  line-height: 1.6;
  color: var(--muted-text);
}

ul.list1 {
  list-style-type: circle;
}

.process-cap-image-section {
  flex: 1;
  display: flex;
  justify-content: center;
  height: 70vh;
}

.process-cap-image-section img {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 16px;
  object-fit: cover;
}

@media (max-width: 800px) {
  .process-cap-hero {
    padding: 20px;
    min-height: 70vh;
    text-align: center;
    background-position: center;
  }

  .process-cap-wrapper {
    padding: 50px 20px;
  }

  .process-cap-wrapper h1 {
    font-size: 2rem;
  }

  .process-cap-wrapper p {
    font-size: 1rem;
  }

  .process-cap-inner-slide {
    flex-direction: column;
    padding: 30px 20px;
    min-height: auto;
    width: 95%;
  }

  .process-cap-slide-content {
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
  }

  .process-cap-text-section {
    width: 100%;
  }

  .process-cap-slide-number {
    font-size: 28px;
  }

  .process-cap-slide-title {
    font-size: 1.5rem;
  }

  .process-cap-slide-description {
    font-size: 1rem;
    line-height: 1.5;
  }

  .process-cap-image-section {
    width: 100%;
    height: auto;
    margin-top: 20px;
  }

  .process-cap-image-section img {
    max-width: 100%;
    height: auto;
    max-height: 250px;
  }
}
