.recognition-hero {
  position: relative;
  min-height: 100vh;
  overflow-y: auto;
  /* background: url("/assets/Home/modelx.JPG") center/cover no-repeat; */
  display: flex;
  align-items: left;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  animation: fadeUp 1s ease forwards;
}

.recognition-section {
  padding: 100px 40px;
  background-color: var(--light-bg);
  color: var(--dark-text);
  border-bottom: 1px solid gainsboro;
}

.recognition-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  text-align: left;
}

.recognition-wrapper h1 {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 10px;
  color: var(--crimson-red);
}

.recognition-wrapper p {
  font-size: 1.2rem;
  color: var(--muted-text);
  margin-bottom: 50px;
  line-height: 1.6;
}

/* Spotlight layout */
.recognition-spotlight {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 80px;
  gap: 50px;
  flex-wrap: wrap;
}

.recognition-spotlight.left .employee-img {
  order: 1;
}
.recognition-spotlight.left .employee-info {
  order: 2;
}

.recognition-spotlight.right .employee-img {
  order: 2;
}
.recognition-spotlight.right .employee-info {
  order: 1;
}

.employee-img {
  flex: 1;
  max-width: 300px;
}

.employee-img img {
  width: 100%;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.employee-info {
  flex: 1;
}

.employee-info h2 {
  font-size: 2rem;
  color: var(--dark-text);
  margin-bottom: 5px;
}

.employee-info h4 {
  font-size: 1.2rem;
  color: var(--crimson-red);
  margin-bottom: 10px;
}

.employee-info p {
  font-size: 1.1rem;
  color: var(--muted-text);
  line-height: 1.6;
}

/* Responsive */
@media (max-width: 768px) {
  .recognition-spotlight {
    flex-direction: column;
  }

  .recognition-spotlight.left .employee-img,
  .recognition-spotlight.right .employee-img,
  .recognition-spotlight.left .employee-info,
  .recognition-spotlight.right .employee-info {
    order: unset;
  }
}


